<!-- <%= JSON.stringify(params.pagination.totalItemsPerPage);   %> -->
<!-- <%= JSON.stringify(params.pagination)  %> -->
<!-- <%= JSON.stringify(items) %> -->
<% include ./../../helpers/status %>
<% include ./../../helpers/filter-status %>
<% include ./../../helpers/pagination %>
<% include ./../../helpers/action %>
<% include ./../../helpers/sortBy %>
<% include ./../../helpers/sort %>
<% include ./../../helpers/groupSelect %>
<% include ./../../helpers/image %>
<% include ./../../helpers/groupSelect %>
<% include ./../../helpers/position %>
<% include ./../../helpers/formatString %>

<%
    const collection = 'articles'
    const linkPrefix = systemConfig.prefixAdmin +`/${collection}/`
    const folderUpload='uploads/articles/'
%>
<%- locals.flash %>

<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-info">
          <div class="panel-heading">
              Search & Filter
              <a href="<%= linkPrefix %>">
              <span id="icon-reload" class="glyphicon glyphicon-refresh"></span>
              </a>
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="status-list col-sm-4 pl0">
                    <%- filterStatusHelper(statusFillter,collection,params.keyword) %>
                     
                  </div>
                  <div class="status-list col-sm-3 pl0">
                    <%- groupSelectHelper('filter-category', groupItems,params.categoryID) %>
                     
                  </div>
                  
                  <div class="col-sm-5">
                      <form action="<%= linkPrefix %>status/<%= params.currentStatus %>" method="GET">
                          <div class="input-group">
                              <input type="text" class="form-control" name="keyword" placeholder="Search for..." value="<%= params.keyword %>">
                              <span class="input-group-btn">
                              <button class="btn btn-info" type="submit">Search</button>
                              </span>
                              <span class="input-group-btn">
                              <button class="btn btn-success" type="button"><a href="<%= linkPrefix %>status/<%= params.currentStatus %>">Clear</a></button>
                              </span>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-12">
      <div class="panel panel-info">
          <div class="panel-heading">
              List Items
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
              <form role="form" class="form-inline zt-form" id="zt-form" action="" method="post">
                 <!-- action -->
                 <%- actionHelper(collection) %>
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th>
                                      <input type="checkbox" class="cbAll" />
                                  </th>
                                  <th>#</th>
                                    <%- sortHelper('Title', linkPrefix, 'fullName', params.sortType, params.sortField) %>
                                    <!-- <th style="width: 100px; text-align: center;">Slug</th> -->
                                    <th style="width: 100px; text-align: center;">Thumb</th>
                                    <%- sortHelper('Status', linkPrefix, 'status', params.sortType, params.sortField) %>             
                                  <!-- <th width="30%">Content</th> -->
                                  <%- sortHelper('Ordering', linkPrefix, 'ordering', params.sortType, params.sortField) %>
                                  <%- sortHelper('Category', linkPrefix, 'categoriesId', params.sortType, params.sortField) %>
                                  <%- sortHelper('Position', linkPrefix, 'position', params.sortType, params.sortField) %>
                                  <th>Create</th>
                                  <th>Modify</th>
                                  <th>Content</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% if(items.length > 0 ){ %>
                                
                                <% items.forEach((item,index)=>{ %>
                                    <tr>
                                        <td><input type="checkbox" name="cid" value="<%= item.id %>" /></td>
                                        <td><%= index +1 %></td>
                                        <td><%= item.title %></td> 
                                        <!-- <td><%= item.slug %></td>  -->
                                        <td style="width: 100px; text-align: center;"><%- imageHelper(folderUpload,item.thumb) %> </td>
                                        <td> <%- statusHelper(item.status,collection,item.id) %></td>
                                        <td><input type="number" value="<%= item.ordering %>" class="text-center ordering"></td>
                                        <td><%- groupSelectHelper('change-categoryId',groupItems, item.categoryId,item.id) %></td> 
                                        <td><%- positionHelper(item.position,collection,item.id) %></td> 
                                        <td> <%- sortByHelper(item.createdAt,item.created.user_name) %></td>
                                        <td><%- sortByHelper(item.updatedAt,item.modify.user_name) %></td>
                                        <!-- <td><%=item.editorData %></td> -->
                                        <td><%- formatStringHelper(item.editorData,100) %></td>
                                        <td>
                                            <a href="<%= linkPrefix %>form/<%= item.id %>" type="button" class="btn btn-warning btn-sm">Edit</a>
                                            <a href="<%= linkPrefix %>delete/<%= item.id %>" type="button" class="btn btn-danger btn-sm btn-delete">Delete</a>
                                        </td>
                                    </tr>
                                <% })%>
                            <% } else {%>   
                                <tr><td colspan="12">KHÔNG CÓ DỮ LIỆU</td> </tr>
                            <%}%>
                          </tbody>
                      </table>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <%- paginationHelper(params.pagination,collection,params.currentStatus,params.keyword) %>
