<%= option %>
<% include ./../../helpers/showError %>
<% include ./../../helpers/groupSelect %>
<%
    const collection = 'users'
    const linkPrefix = systemConfig.prefixAdmin +`/${collection}/`
%>
<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              Form 
          </div>
          <div class="panel-body">
            <%- showErrorHelper(showError) %>
              <div class="row">
                  <div class="col-lg-6">
                      <form role="form" action="<%= linkPrefix %>save/" method="POST">
                          <div class="form-group">
                              <label>Full Name</label>
                              <input class="form-control" name="fullName" value="<%=item.fullName %>" >
                          </div>
                          <div class="form-group">
                            <label>User Name</label>
                            <input class="form-control" name="userName" value="<%=item.userName %>" >
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" name="password" value="<%=item.password %>" >
                        </div>
                        <div class="form-group">
                            <label for="myfile">Avatar</label> <br>
                            <a type="button" href="<%= linkPrefix %>uploads" class="btn btn-primary">Upload Image</a>
                        </div>
                          <div class="form-group">
                              <label>Ordering</label>
                              <input class="form-control" type="number" name="ordering" value="<%=item.ordering %>" >
                          </div>
                          <label>Status</label>
                          <select name="status" class="form-control" >
                              <option value="novalue">Choose Status</option>
                              <option value="active" <%= (item.status==='active') ? 'selected="selected"' : '' %> >Active</option>
                              <option value="inactive" <%= (item.status==='inactive') ? 'selected="selected"' : '' %> >Inactive</option>
                          </select>
                          <div class="form-group">
                              <label>Group</label>
                              <%- groupSelectHelper('group',groupItems,option) %>
                              <!-- <select name="group.name" class="form-control" >
                                  <option value="novalue">Choose Group</option>
                                  <option value="amitter" <%= (item.group.name==='amitter') ? 'selected="selected"' : '' %>>Amitter</option>
                                  <option value="member" <%= (item.group.name==='member') ? 'selected="selected"' : '' %>>Member</option>
                              </select> -->
                          </div>
                          <div class="form-group">
                            <label>Group ACP</label> <br>
                            <label for=""><input type="radio" name="groups_acp" value="yes" <%= (item.groups_acp==='yes') ? 'checked="checked"' : '' %>> Yes</label>
                            <label for=""><input type="radio" name="groups_acp" value="no" <%= (item.groups_acp==='no') ? 'checked="checked"' : '' %>> No</label>
                        </div>
                          <div class="form-group">
                            <label>Descrition</label> <br>
                            <textarea class="form-control" name="editorData" id="editorData"><%=item.editorData %></textarea>
                        </div>
                          <input class="form-control" name="id" value="<%=item.id %>" type="hidden" >
                          <button type="submit" id="submit" class="btn btn-primary">Submit </button> 
                          <a type="button" href="<%= linkPrefix %>" class="btn btn-default">Cancel</a>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<script>
    let editor;
    ClassicEditor
        .create(document.querySelector('#editorData'))
        .then( newEditor => {
            editor = newEditor
            console.log('editor');
        })
        .catch(error => {
            console.error(error);
        });
        // document.querySelector('#submit').onclick = function(e){
        //     // e.preventDefault()
        //     const editorData = editor.getData();
        //     console.log(editorData);

        // }
    document.querySelector('#submit').addEventListener('click', (e)=>{
        const editorData = editor.getData();
    });
</script>
